@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="navbar">
            <div class="text-center">
                <a class="navbar-brand" href="">
                    <img src="img/Logo.png" alt="ServiFinder" width="130" height="60">
                </a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
